{% extends 'master.twig' %}

{% block master %}

<h2>Lista de users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Ações</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td><a href="/user/edit/{{ user.id }}" class="btn btn-success btn-sm">Editar</a></td>
                <td><a href="/user/delete/{{ user.id }}" class="btn btn-danger btn-sm">Deletar</a></td>
            </tr>
        
        {% endfor %}
    </tbody>
    <tbody>
        <tr>
            <td>{{ links | raw }}</td>
        </tr>
    </tbody>

</table>


{% endblock %}