{% extends "master.twig" %}

{% block master %}
    <hr>
    <h2>Cadastro - Sistema de validação</h2>
    <hr>

    {{ message('message')}}

    <form action="/user/update/{{ user.id }}" method="post">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" class="form-control" value={{ user.name }}>
            {{ message('name') }}
        </div>
        <div class="form-group">
            <label for="">E-mail</label>
            <input type="text" name="email" class="form-control" value={{ user.email }}>
            {{ message('email') }}
        </div>
        <div class="form-groupp">
            <label for="">Telefone</label>
            <input type="text" name="phone" class="form-control" value={{ user.phone }}>
            {{ message('phone') }}
        </div><hr>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
{% endblock %}